<idea-plugin version="2">
  <id>com.eddy.generator</id>
  <name>eddy</name>
  <version>@version@</version>
  <vendor email="info@eddy.systems" url="https://eddy.systems">Eddy Systems</vendor>

  <description><![CDATA[
<p>
  eddy helps write code. If you make mistakes, eddy will try to understand you anyway and propose proper Java.
  If eddy isn't sure what you meant, it'll show you options.
</p><p>
  For examples of what eddy can do, see the
  <a href="https://eddy.systems/instructions">instructions page</a>.  To report an issue,
  use the <a href="https://github.com/eddysystems/eddy/issues">issue tracker</a> or ask a question
  on the <a href="https://groups.google.com/forum/#!forum/eddy">mailing list</a>.
</p><p>
  Eddy is open source and provided under
  the terms of the <a href="https://en.wikipedia.org/wiki/BSD_licenses#2-clause_license_.28.22Simplified_BSD_License.22_or_.22FreeBSD_License.22.29">simplified BSD license</a>. You can check out the code and contribute to our <a href="https://github.com/eddysystems/eddy">github repository</a>.
</p>
    ]]></description>

  <change-notes><![CDATA[
    <p>0.6.2</p><ul>
    <li>fix deadlock caused by interaction with Scala plugin</li>
    <li>understand is/isinstance</li>
    <li>fix prioritzation of parameters</li>
    <li>reduce cost for errors in capitalization</li>
    </ul>
    <p>0.6.1</p><ul>
    <li>fix bug causing eddy to stop suggesting fixes after some code modifications</li>
    </ul>
    <p>0.6</p><ul>
    <li>use per project package probabilities</li>
    <li>fix an issue causing some packages to not be found</li>
    <li>fix variadic function resolution</li>
    <li>fix shadowing rules</li>
    <li>predictive variable initialization</li>
    <li>grammar improvements (trailing commas, python ':' syntax)</li>
    <li>stability and performance improvements</li>
    </ul>
    <p>0.5.1:</p><ul>
    <li>fix an issue with some non-US system locales</li>
    </ul>
    <p>0.5:</p><ul>
    <li>add feedback email preference</li>
    <li>remove unnecessary generated upcasts</li>
    <li>fix some (caught but logged) NPEs</li>
    <li>drop type arguments inside instanceof expressions</li>
    <li>adapt to 14.1</li>
    </ul>
    ]]>
  </change-notes>

  <!-- please see http://confluence.jetbrains.com/display/IDEADEV/Build+Number+Ranges for description -->
  <idea-version since-build="@since-build@" until-build="@until-build@"/>

  <!-- please see http://confluence.jetbrains.com/display/IDEADEV/Plugin+Compatibility+with+IntelliJ+Platform+Products
       on how to target different products -->
  <depends>com.intellij.modules.lang</depends>

  <extensions defaultExtensionNs="com.intellij">
    <!-- Add your extensions here -->
    <!--
    <annotator language="JAVA" implementationClass="com.eddysystems.eddy.EddyAnnotator"/>
      -->
    <!-- set the implementation class for this to something Derived form EditorSmartKeysConfigurable to
         offer additional options on the editor smart keys pane
      <editorSmartKeysConfigurable/>
      -->
    <!-- generic handler for all editor actions - may be overkill
      <editorActionHandler/>
      -->
    <!-- maybe the most "correct" way to implement smart enter keys, but looks complicated
      <lang.smartEnterProcessor>
      </lang.smartEnterProcessor>
      -->
    <!-- yey!
      -->
    <enterHandlerDelegate implementation="com.eddysystems.eddy.EddyEnterHandlerDelegate"/>

    <intentionAction>
        <className>com.eddysystems.eddy.EddyIntention</className>
        <category>Other</category>
        <descriptionDirectoryName>Eddy</descriptionDirectoryName>
    </intentionAction>
    <intentionAction>
        <className>com.eddysystems.eddy.CorrectionIntention</className>
        <category>Other</category>
        <descriptionDirectoryName>EddyCorrection</descriptionDirectoryName>
    </intentionAction>

    <applicationConfigurable instance="com.eddysystems.eddy.Preferences">
    </applicationConfigurable>
  </extensions>

  <application-components>
    <!-- Add your application components here -->
  </application-components>

  <project-components>
    <!-- Add your project components here -->
      <component>
          <implementation-class>com.eddysystems.eddy.EddyPlugin</implementation-class>
      </component>
      <!-- no need to instantiate here
      <component>
          <implementation-class>com.eddysystems.eddy.EddyIntention</implementation-class>
      </component>
      -->
  </project-components>

  <actions>
      <action id="PrevEddySuggestion" class="com.eddysystems.eddy.actions.PrevSuggestion" text="Previous eddy suggestion"
              description="Select previous eddy suggestion">
          <keyboard-shortcut keymap="$default" first-keystroke="alt UP"/>
      </action>
      <action id="NextEddySuggestion" class="com.eddysystems.eddy.actions.NextSuggestion" text="Next eddy suggestion"
              description="Select next eddy suggestion">
          <add-to-group group-id="CodeMenu" anchor="last"/>
          <keyboard-shortcut keymap="$default" first-keystroke="alt DOWN"/>
      </action>
      <action id="EddyReinitEnvironmentAction" class="com.eddysystems.eddy.actions.Reinit" text="Reinitialize eddy"
              description="Reinitialize eddy's environment scan">
          <add-to-group group-id="CodeMenu" anchor="last"/>
      </action>
<!--
      <action id="EddyDumpEnvironmentAction" class="com.eddysystems.eddy.actions.DumpEnvironment" text="Dump environment"
              description="Dump the environment at the cursor to ~/dump.jenv">
          <add-to-group group-id="CodeMenu" anchor="last"/>
      </action>
-->
  </actions>

</idea-plugin>
